* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
  background:hsl(216, 12%, 8%) ;
  height: 100vh;
}

.attribution {
  margin: 15px 0 0 0;
  color: white;
}

.attribution a {
  text-decoration: none;
  color:hsl(216, 12%, 54%);
}

.card {
  background: hsl(213, 19%, 18%);
  width: 482px;
  height: 489px;
  padding: 25px 25px;
  border-radius: 35px;
}

.star {
  margin: 13px;
  padding: 20px;
  background-color: hsl(216, 12%, 22%);
  border-radius: 40px;
  width: 60px;
}

.card h1 {
  color: white;
  margin: 17px 13px;
}

.card p {
  color: hsl(216, 12%, 54%);
  margin: 0 13px;
  padding: 0 18px 0 0;
  font-size: 18px;
  line-height: 1.5;
}

.rate{
  transition: transform 1s ease-in;
}

.rating {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 0 0;
  font-size: 20px;
  color: hsl(216, 12%, 54%);
}

.circle{
  background-color: hsl(216, 12%, 22%);
  border-radius: 40px;
  padding: 20px 25px;
  width: 65px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.submit {
  display: flex;
  color: white;
  justify-content: center;
  margin: 33px 12px;
  padding: 13px 50px;
  background: hsl(25, 97%, 53%);
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
}

.thank-you{
  overflow: hidden;
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thank-you h1 {
  margin: 39px 0 18px 0;
  color: white;
}

.thank-you h3 {
  margin: 35px 0 0 0;
  color: hsl(25, 97%, 53%);
  font-weight: 100;
  background-color:hsl(216, 12%, 22%);
  padding: 6px 30px;
  border-radius: 35px;
}

.phone{
  width: 200px;
  padding: 20px 0 0 0;
}

.circle:hover {
  cursor: pointer;
  background-color: hsl(216, 12%, 54%);
  color: white;
}

.submit:hover {
  color: hsl(25, 97%, 53%);
  background: white;
}

.circle.active {
  color: white;
  background-color: hsl(25, 97%, 53%);
}

.ratebox.active .rate{
  overflow: hidden;
  height: 0;
  animation: fade1 1s ease-in-out;
}

.ratebox.active .thank-you{
  overflow: visible;
  animation: fade2 1s ease-in-out;
  max-height:3px;
  opacity: 1;
}




@keyframes fade1 {
  from {
    opacity: 1;
    transform: translateY(-10px);
  }
  to{
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes fade2 {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 400px) {
  .attribution {
    padding: 0px 70px;
    text-align: center;
  }

  .card {
    width: 330px;
    height: 350px;
    margin: 145px 0 0 0;
  }

  .star {
    margin: 0px 13px 0px 13px;
    width: 40px;
    padding: 13px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card p {
    font-size: 13px;
    padding: 0;
  }

  .rating {
    margin: 20px 0 0 0;
    font-size: 15px;
  }

  .circle {
    padding: 13px 10px;
    width: 44px;
  }

  .submit{
    margin: 33px 0px;
    padding: 11px 36px;
    font-size: 14px;
  }
  
  .thank-you h3 {
    margin: 20px 0 0 0;
    font-weight: lighter;
    padding: 6px 14px;
    font-size: 15px;
  }

  .thank-you h1 {
    margin: 25px 0 18px 0;
    font-size: 25px;
  }

  .phone {
    width: 155px;
    padding: 0px 0 0 0;
  }
}